@import "../../../helpers/css/base.module.scss";

.rate {
	padding: 5rem;
	background-color: $additionalColor2;
	border-radius: 0.2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
    align-items: center;
}
.name {
	font-size: 1.5rem;
	margin: 0 0 1rem 0;
}
.price {
	margin: 0.2rem 0 0 0;
}
